
<div class="image">
<h1> INBOX </h1>
<table  *ngIf='mails && mails.length' width="100%" style="max-width:600px" style="background-color:rgba(100,100,100,0.5);">
  <thead>
      <tr>
          <th><h3>Subject</h3></th>
          <th><h3>From</h3></th>
          <th><h3>Message</h3></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let mail of mails'>
          <td>{{mail.subject}}</td>
          <td>{{mail.sender.name}} {{mail.sender.surname}}</td>
          <td>{{mail.content}}</td>         
      </tr>
  </tbody>
</table>
</div>